

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    src: url('fa/font/fontawesome-webfont.eot');
    src: local('FontAwesome'),
    local('MaterialIcons-Regular'),
    url('fa/font/fontawesome-webfont.woff2') format('woff2'),
    url('fa/font/fontawesome-webfont.woff') format('woff'),
    url('fa/font/fontawesome-webfont.ttf') format('truetype');
}
body{
    background-color: white;
}
.head-wpr{
    background-color: #218eca;
}
.head-wpr > .head-tab-menu{
    display:flex;
    padding: 30px 15px 0 15px;
    justify-content: space-between;
}
.head-wpr > .head-tab-menu .tabs-wrp{
    display: flex;
    width: 50%;
    justify-content: flex-start;

}
.head-wpr > .head-tab-menu a:hover{
    text-decoration: none;
}
.tabs-wrp > .nav-tab:not(.active){
    font-size: 20px;
    padding: 20px;
    text-align: center;
    line-height: 1;
    background-color: #24bbca;
    color: white;
}
.tabs-wrp > .nav-tab{
    padding: 20px;
    font-size: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-right: 5px;

}
.tabs-wrp > .nav-tab.active{
    border-bottom:none;
    background-color: white;
    font-weight: bold;
    color: black;
}
.main-wrp{
    padding: 15px;
}
.main-wrp a,.main-wrp a:hover{
    text-decoration: none;
}
.ctrl-panel-wrp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ctrl-panel-wrp > .ctrl-left,.ctrl-panel-wrp > .ctrl-right{
    min-width: 20%;
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.ctrl-buttons{
    color: #8f8f8f;
    font-size: 26px;
}
.ctrl-buttons:hover{
    color: #5c5c5c;
}
.ctrl-buttons > .fa{
    margin-left: 4px;
}
.pag-wrp .inner-wrp{
    margin-right: 10px;
    padding-bottom: 6px;
}
.pag-wrp a{
    /*By Nikita Morozov*/
    position: relative;
    float: left;
    padding: 6px 12px;
    /*line-height: 1.42857143;*/
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    line-height: 1.6;
    margin-bottom: 6px;
}
.pag-wrp .pagination{
    line-height: 1;
}
.pag-wrp > a:hover{
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.ctrl-left > a{
    width: 140px;
}
.ctrl-left > a.fa-cog,.ctrl-left > a.fa-reorder{
    width: 100px;
    text-align: center;
}
.result-wrp{
    display: flex;
    background-color: #DDDDDD;
    padding: 15px 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}
.result-wrp .section{
    padding: 0 10px;
}
.section.desc{
    /*font-family: Poppins;*/
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    color: #444a59;
    float: left;
    width: 45%;
    height: 36px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
}
.section.soc-btn{
    min-width: 20%;
    display: flex;
    justify-content: space-between;
}
.section.date{
    font-size: 12px;
    min-width: 12%;
}
.section.link{
    width: 10%;
    word-wrap: break-word;
}
[v-cloak]{
    display: none;
}
.section.soc-btn > .fa{
    font-size: 28px;
}
.section.soc-btn .fa-chevron-down{
    color: #0d6aad;
}
.section.soc-btn .fa-exchange{
    color: #da1111;
}

.u-name{
    color: #fff;
}
.glyphicon.glyphicon-remove{
    color : #fff;
    font-size: 19px;
}
.fa-cog {
    color: #fff;
    font-size: 24px;
}
.section.rait{
    color: white;
}
.section.rait.green{
    background-color: green;
}
.section.rait.red{
    background-color: #fc5a16;
}
.section.rait.big-red{
    background-color: #ff053d;
    font-size: 30px;
}
.inputs-wrp{
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.dropdown-wrap{
    background-color: white;
    padding: 5px;
    position: absolute;
    margin-left: 400px;
    margin-top: 85px;
    -webkit-box-shadow: 6px 3px 15px 3px rgba(128,128,128,1);
    -moz-box-shadow: 6px 3px 15px 3px rgba(128,128,128,1);
    box-shadow: 6px 3px 15px 3px rgba(128,128,128,1);
}
.dropdown-wrap .wrrp{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
}